<div class="mt-4">
    {% if user.is_authenticated %}
    <a href="{% url 'products' %}" 
       class="btn button-black-outline btn-prev checkout-button py-2 mr-auto mr-lg-3">
        <i class="fas fa-chevron-left"></i> 
        Keep shopping
    </a>
    <a href="{% url 'order_history' %}" class="btn button-green checkout-button py-2 mr-auto mr-lg-3">
        View full order history
    </a>

    {% else %}
    <div class="text-right">
        <a href="{% url 'products' %}" 
            class="btn button-black-outline btn-prev checkout-button py-2 mr-auto mr-lg-3">
            Keep shopping <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    {% endif %}
</div>