<h5 class="card-header checkout-card-header">
    <i class="fas fa-shipping-fast"></i> 
    Shipping Details
</h5>
<div class="card-body">
    <p class="card-text"><strong>Recipient's Name:</strong> {{ order.full_name }}</p>
    <p class="card-text mb-1"><strong> Shipping Address:</strong></p>
    <p class="mb-1">{{ order.address_line1 }}</p>

    {% if order.address_line2 %}
    <p class="mb-1">{{ order.address_line2 }}</p>
    {% endif %}
    <p class="mb-1">{{ order.town_or_city }}</p>

    {% if order.county %}
    <p class="mb-1">{{ order.county }}</p>
    {% endif %}

    <p class="mb-1">{{ order.country }}</p>
    {% if order.postcode %}
    <p class="mb-1">{{ order.postcode }}</p>
    {% endif %}
</div>