<div class="col-12 col-lg-6 pl-3 pl-lg-5">
    <h3 class="mb-3 text-salmon">Find us here:</h3>
    <div class="text-left w-100">
        <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
        333 O'Connell Street Lower, North City, 
        <br/>Dublin, Republic of Ireland </p>
        <p><i class="fas fa-phone-alt mr-3 icon-green"></i> +123 45 678 90</p>
        <small>
            You can call us or check our <a href="https://www.facebook.com/" 
            target="_blank" rel="noopener">Facebook page</a>
            to find out what's on this week. 
        </small>
    </div> 
</div>