<div class="col-12 col-lg-6 pl-3 pl-lg-5 d-flex align-items-between mt-4 mt-md-1 mb-3">
    <div>    
        <h3 class="mb-3 text-salmon">Find us here:</h3>
        <div class="text-left w-100">
            <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
            333 O'Connell Street Lower, North City, 
            <br/>Dublin, Republic of Ireland </p>
            <p><i class="fas fa-phone-alt mr-3 icon-green"></i> +123 45 678 90</p>
            <small>
                You can call us or check our <a href="https://www.facebook.com/" 
                target="_blank" rel="noopener">Facebook page</a>
                to find out what's on this week. 
            </small>
            <img src="{{ STATIC_URL }}img/teapot-with-cups-graphic.png" alt="teapot-with-cups-graphic" 
                class="events-teapot-image img-fluid d-none d-lg-block"
                data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">

        </div> 
    </div> 
        <div class="d-none d-md-block  d-lg-none w-50">
        <img src="{{ STATIC_URL }}img/teapot-with-cups-graphic.png" alt="teapot-with-cups-graphic" 
            class="img-fluid">
    </div> 
</div>