<div class="col-12 col-lg-6">
    <h3 class="mb-3 text-salmon"> Weekly events:</h3>
    <table class="table">
        <tr>
            <th> Monday, 19.00 </th>
            <td>Meditation</td>
        </tr>
        <tr>
            <th> Tuesday, 19.00 </th>
            <td>Lecture by our best tea masters</td>
        </tr>
        <tr>
            <th> Thursday, 17.00 </th>
            <td>Music night</td>
        </tr>
        <tr>
            <th> Friday, 20.00 </th>
            <td>Tea tasting</td>
        </tr>
        <tr>
            <th> Saturday, 08.00 </th>
            <td>Morning yoga class (all levels)</td>
        </tr>
        <tr>
            <th> Sunday, 21.00 </th>
            <td>Movie night</td>
        </tr>
    </table>
</div>