<div class="col-12 col-md-8 offset-md-3 col-lg-6 offset-lg-5 my-4 mt-md-5 py-3 text-center events-text-block">
    <h1 class="uppercase main-heading heading-events"> Our Events</h1>
    <hr class="w-25 my-3">
    <p class="events-paragraph">
        You can engage in a broad range of events happening at our tea club: 
        <br/> film screenings, workshops and lectures, tea meditations, tea tastings and yoga classes.
        <br/>
        All this is available to everyone, you do not need to be an expert in tea, just join us!
    </p>
    <p class = "events-paragraph">
        You can see our regular weekly events below.
        <br/> All of these events are free of charge, but donations are welcome!
    </p>
    <img src="{{ STATIC_URL }}icons/icon-heart.png" alt="icon-heart">
</div>