{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid events-container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-3 col-lg-6 offset-lg-5 mt-5 py-3 text-center events-text-block">
            <h1 class="uppercase landing-about-heading"> Our Events</h1>
            <hr class="w-50 my-2">
            <p class = "landing-paragraph ">
            You can engage in a broad range of events happening at our tea club: film screenings, various workshops and lectures, tea meditations, tea tastings, yoga classes and just simple friend meetings.
            <br/>
            All this is available to everyone, you do not need to be an expert in tea, just join us!
            </p>
            <p class = "landing-paragraph">
           You can see our regular weekly events below.
           <br/> All of these events are free of charge, but donations are welcome!
            </p>
            <img src="/media/icons/icon-heart.png" alt="icon-heart">
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
        
        </div>
    </div>
</div>
{% endblock %}