{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid events-container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-5 text-center mt-2 pb-5">
            <h1 class="uppercase landing-about-heading mt-5"> Our Events</h1>
            <hr class="w-50 my-2">
            <p class = "landing-paragraph ">
            Every week something happens at our tea club: film screenings, various workshops and lectures, tea meditations, tea tastings, yoga classes and just simple sincere conversations.
            <br/>
            All this is available to everyone, you do not need to be an expert in tea to come to us.
            </p>
            
            <p class = "landing-paragraph">
           You can see our regular weekly events below, you are always welcome to join us. 
            </p>
            <p class = "landing-paragraph ">
            All of these events are free of charge, but donations are welcome!
            </p>
            <img src="/media/icons/icon-heart.png" alt="icon-heart">
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
        
        </div>
    </div>
</div>
{% endblock %}