<div class="col-12 col-lg-6 mb-5 d-none d-lg-block">
    <img src="{{ STATIC_URL }}img/girl-and-letter-graphic-img.png" class="img-fluid"
         alt="girl-and-letter-graphic-img">
</div>

<div class="col-12 col-lg-6 mb-5 shadow p-4 rounded-lg">
    <p>If you have any questions or special queries,
     fill out the form and we will get back to you within 24 hours.</p>
    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ contact_form|crispy }}
        <div class="text-center mb-2 mt-4">
            <button type="submit" id="contact-form-btn" 
                    class="btn button-green  uppercase w-100">
                <i class="fas fa-paper-plane mr-2"></i>&nbsp;Send
            </button>
        </div>
    </form>
</div>