<div class="col-12 col-lg-5 ">
        <h4 class=" mb-3 font-weight-bold">Art of Tea</h4>
        <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
        333 O'Connell Street Lower, North City, 
        <br/>Dublin, Republic of Ireland </p>
        <p><i class="fas fa-phone-alt mr-3 icon-green"></i><a href="tel:+1234567890" class="email-phone-link"> +123 45 678 90</a></p>
        <p><i class="fas fa-envelope mr-3 icon-green"></i>
            <a href="mailto:iratushina17@gmail.com?subject=ArtOfTea" class="email-phone-link">artoftea@test.com</a>
        </p>
</div>   
<div class="col-12 col-lg-7 text-left w-100"  
        data-aos="fade-up" data-aos-duration="1000" 
        data-aos-easing="ease-in-out">   
    <div id="map"></div>
</div>    
