{% extends "base.html"%}
{% load static %}

{% block content%}

<div class="container mt-5 ">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1 class="uppercase main-heading">Shopping cart</h1>
        </div>
        {% if bag_items %}
        <div class="col-12">
            <a href="{% url 'products' %}" class="text-dark"><i class="fas fa-long-arrow-alt-left"></i> Continue shopping</a>
        </div>
    </div>
    <!--cart content-->
    <div class="row mt-4 border border-dark">
        <div class="col-12 m-4">
        
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5 d-flex  justify-content-center">
    <div class="row"> 
        <div class="col-12 mb-5 text-center">
            <i class="fab fa-pagelines icon-green mb-3 icon-large"></i>
            <p class="font-weight-bold lead mb-4">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn button-green px-3 mr-3"><i class="fas fa-long-arrow-alt-left"></i> Continue shopping</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}