{% extends "base.html"%}
{% load static %}

{% block content%}

<div class="container mt-5 ">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h1 class="uppercase main-heading">Shopping cart</h1>
        </div>
    </div>
</div>

{% if cart_items %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'products' %}" class="text-dark"><i class="fas fa-long-arrow-alt-left"></i> Continue shopping</a>
        </div>
    </div>
</div>

<!--cart content-->
<div class="container border border-dark rounded mt-4  mb-5">
    
    {% for item in cart_items %}
    <div class="row  p-3 border-bottom  border-dark">
        <!--Image-->
        <div class="col-4">
            <img class="img-fluid rounded-lg w-50" src="{{ item.product.image_gallery.image }}" alt="{{ item.product.name }}">
        </div>

        <!--Name and quantity-->
        <div class="col-5 ">
            <h4 class="font-weight-bold">  {{ item.product.name }}</h4>
            <p class="my-0 small text-muted uppercase">SKU: {{ item.product.sku }}</p>
            <p class=" mt-3">Quantity:</p>
                <div class="input-group w-50">
                    <input name="quantity" type="number" min="1" max="999" class="form-control " value="{{ item.quantity }}" required>
                </div>
                <!--Weight-->
                {% if item.product.has_weight %}
                <small class="text-muted">Each pack is 100g</small>
                {% endif %}
            <p class="small text-right w-50"><a href="#">Update</a></p>
            
        </div>
        <!--Delete and price-->
        <div class="col-2 d-flex justify-content-between flex-column">
            <div>
                <h6 class="font-weight-bold ">Price:</h6>
                <p><i class="fas fa-euro-sign "></i> {{ item.product.price }}</p>
            </div>
            <div>
                <h6 class="font-weight-bold mb-3">Subtotal:</h6>
                <p class="font-weight-bold lead"><span class="border p-2 rounded-pill border-success">
                    <i class="fas fa-euro-sign mr-1"></i>
                    {{ item.product.price }}</span>
                </p>
            </div>
        </div>
        <!--Remove button-->
        <div class="col-1 text-right ">
            <a href="" title="Remove"><i class="fas fa-trash-alt lead text-danger"></i></a>
        </div>
    </div>
    {% endfor %}
    
</div>

{% else %}
<!--when cart is empty-->
<div class="container mt-5 d-flex  justify-content-center">
    <div class="row"> 
        <div class="col-12 mb-5 text-center">
            <i class="fab fa-pagelines icon-green mb-3 icon-large"></i>
            <p class="font-weight-bold lead mb-4">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn button-green px-3 mr-3"><i class="fas fa-long-arrow-alt-left"></i> Continue shopping</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}