{% extends "base.html"%}
{% load static %}

{% block content%}
<!--Delivery info-->
{% include 'checkout/includes/delivery_info.html' %} 
<!--Main Heading-->
{% include 'checkout/includes/main_heading.html' %} 

<div class="container mt-2 mb-4">
    <div class="row">
        <!--Form for mobile and for tablet/desktop-->
        {% include 'checkout/includes/form_mobile.html' %} 
        {% include 'checkout/includes/form_tablet_desktop.html' %} 
        <!--Order summary-->
        {% include 'checkout/includes/order_summary.html' %} 
    </div>
</div>
{% endblock %}