@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Open+Sans&family=Sawarabi+Mincho&display=swap');

/* Colour and Font Variables */
:root {
--darkgreen: #0A5C15;
--lighgreen: #3E9D47;
--black: #070605;
--brown: #876A1D;
--brown-grey: #8E7A67;
--lightgrey: #E4E3E2;
--lavander: #D6D3F0;
--red-salmon: #E65555;
--white: #ffffff;
--darkwhite: #f5f5f5f3;

--lightblack: #2e2e2e;
--darkgrey: #515151;

--marko-one: 'Marko One', serif;
--open-sans: 'Open Sans', sans-serif;
--sawarabi-mincho: 'Sawarabi Mincho', sans-serif;
}

.uppercase{
text-transform: uppercase;
}

.main-nav-sticky {
    padding-top: 32px;
}

.logo-navbar{
    height: 50px;
}