@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Open+Sans&family=Sawarabi+Mincho&display=swap');

/* Colour and Font Variables */
:root {
--darkgreen: #0A5C15;
--lighgreen: #3E9D47;
--black: #070605;
--brown: #876A1D;
--brown-grey: #8E7A67;
--lightgrey: #E4E3E2;
--lavander: #D6D3F0;
--red-salmon: #E65555;
--white: #ffffff;
--darkwhite: #f5f5f5f3;

--lightblack: #2e2e2e;
--darkgrey: #515151;

--marko-one: 'Marko One', serif;
--open-sans: 'Open Sans', sans-serif;
--sawarabi-mincho: 'Sawarabi Mincho', sans-serif;
}

/* Global style settings*/
.uppercase{
text-transform: uppercase;
}

/* Navbar */
.navbar{
font-family: var(--sawarabi-mincho);
}
.navbar-brand{
margin-right: 0;
}

.main-nav-sticky {
letter-spacing: 0.1rem;
}

.logo-navbar{
height: 2.6rem;
}

.navbar-toggler {
font-size: 1rem;
}

/* Media query for medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.main-nav-sticky {
padding-top: 32px;
}

}
/*Media query for large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.logo-navbar{
height: 3.1rem;
}
.navbar-brand{
margin-right: 1rem;
}
}
