{% load cart_tools %}

<div class="col-12 col-md-5 col-lg-4 order-1 order-md-2 px-2 mt-3">
    <div class="border p-3 p-lg-4 rounded-lg shadow">
        <!--Order summary Heading-->
        <div class="border-bottom  mb-1 mb-md-3">
            <h4 class="font-weight-bold mb-0">Order Summary: </h4>
            <small class="text-muted pb-3"> 
                {% if items_count > 1 %}
                    {{ items_count }} items
                {% else %}
                    {{ items_count }} item
                {% endif %}
            </small>
        </div>

        <!--Order summary Items-->
        <div class="order-summary-items">
            {% for item in cart_items %}
            <div class="row mx-0">
                <div class="col-4 mb-1 mb-md-3">
                    <img class="img-fluid" src="{{ item.product.image_gallery.image }}" 
                        alt="{{ product.name }}">
                </div>
                <div class="col-8">
                    <p class="font-weight-bold">{{ item.product.name }}</p>
                    {% if item.product.is_a_service %}
                    <p class="small">{{ item.quantity }} participant(s)</p>
                    {% else %}
                    <p class="small">Qty: {{ item.quantity }}</p>
                    {% endif %}
                    <p class="small">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div> 
            </div>
            {% endfor %}
        </div>

        <!--Order summary Total-->
        <div class=" border-top pt-1 pt-md-2">
            <a href="{% url 'view_cart' %}"><i class="fas fa-chevron-left"></i> Edit Cart</a>
            <p class="small mt-1 mt-md-3 mb-1 text-muted">Delivery Cost: €{{ delivery|floatformat:2 }}</p>
            <p class="lead">Total to pay: 
                <span class="font-weight-bold">€{{ grand_total|floatformat:2 }}</span>
            </p>
        </div>
    </div>
</div>