{% load cart_tools %}

<div class="col-12 col-md-4 order-1 order-md-2 px-2 mt-3">
    <div class="border p-3 p-lg-4 rounded-lg shadow">
        <!--Order summary Heading-->
        <div class="border-bottom pb-1 mb-1 mb-md-3">
            <h4 class="font-weight-bold mb-0">Order&nbsp;Summary: </h4>
        </div>

        <!--Order summary Items-->
        <div class="order-summary-items">
            {% for item in cart_items %}
            <div class="row mx-1 border-bottom pt-2">
                <div class="col-4 mb-1 mb-md-3">
                {% if item.product.is_a_service %}
                    <a href="{% url 'service_details' item.product.id %}">
                        {% if 'img/' in item.product.image.name  %}
                            <img class="img-fluid" src="{{ STATIC_URL }}{{ item.product.image }}" 
                                 alt="{{ product.name }}">
                        {% elif item.product.image %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.product.image }}" 
                                 alt="{{ product.name }}">
                        {% else %}
                            <img class="img-fluid" src="{{ STATIC_URL }}img/no-image.jpg"   
                                 alt="{{ product.name }}">
                        {% endif %}
                    </a>
                 {% else %}
                    <a href="{% url 'product_details' item.product.id %}">
                        {% if  'img/' in item.product.image.name  %}
                            <img class="img-fluid" src="{{ STATIC_URL }}{{ item.product.image }}" 
                                 alt="{{ product.name }}">
                        {% elif item.product.image %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.product.image }}" 
                                 alt="{{ product.name }}">
                        {% else %}
                            <img class="img-fluid" src="{{ STATIC_URL }}img/no-image.jpg"  
                                 alt="{{ product.name }}">
                        {% endif %}
                    </a>
                 {% endif %}
                </div>
                <div class="col-8">
                    <p class="font-weight-bold">{{ item.product.name }}</p>
                    {% if item.product.is_a_service %}
                    <p class="small">
                    {% if item.quantity > 1 %}
                        {{ item.quantity }} participants
                    {% else %}
                        {{ item.quantity }} participant
                    {% endif %}
                    </p>
                    <p class="small mb-0 font-weight-bold">Date and Time:</p> 
                    <p class="small mt-0">{{ item.datetime }}</p>
                    {% else %}
                    <p class="small font-weight-bold">Qty: {{ item.quantity }}</p>
                    {% endif %}
                    <p class="small"><span class="font-weight-bold">Subtotal:
                        </span> €{{ item.product.price | calc_subtotal:item.quantity }}
                    </p>
                </div> 
            </div>
            {% endfor %}
        </div>

        <!--Order summary Total-->
        <div class=" border-top pt-1 pt-md-2">
            <a href="{% url 'view_cart' %}" class="font-weight-bold"><i class="fas fa-chevron-left"></i>&nbsp;Edit Cart</a>
            <p class="small mt-1 mt-md-3 mb-1 text-muted">Delivery Cost: €{{ delivery|floatformat:2 }}</p>
            <p class="lead">Total to pay: 
                <span class="font-weight-bold">€{{ grand_total|floatformat:2 }}</span>
            </p>
        </div>
    </div>
</div>