<table class="table table-sm">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Full Name</td>
            <td id="full_name_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Email</td>
            <td id="email_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Phone Number</td>
            <td id = "phone_number_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Address line1</td>
            <td id = "address_line1_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Address line2</td>
            <td id = "address_line2_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Town/City</td>
            <td id = "town_or_city_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">County</td>
            <td id = "county_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Postcode</td>
            <td id = "postcode_table"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td class="font-weight-bold">Country</td>
            <td id= "country_table"></td>
        </tr>
    </tbody>
</table>