<!--Footer-->
<footer class="py-3">
    <!--Desktop only footer section-->
    <!--Bottom main -->
    <div class="row">
        <div class="col-12 container text-center">
            <a href="https://github.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-github media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-12 text-center">
                <small> © 2020 My CookBook. All Rights Reserved</small>
        </div>
    </div>
</footer>