<!--Footer-->
<div class="pt-0 pt-lg-3 container-fluid">
    <!--Desktop only footer section-->
    <div class="row text-center footer-top d-none d-lg-flex px-3">
        <div class="col-4">
            <a class="navbar-brand" href="{% url 'landing' %}">
                <img src="{{ STATIC_URL }}img/logo.png" alt="logo" class="logo">
            </a>
            <p class="p-2">Tea ceremony in our tea club is an immersion<br/> into the secrets
                 of the tea consuming traditions.  
                <br/>Explore the misterious world of tea with us!
            </p>
        </div>
        <div class="col-4">
            <h4 class="uppercase">Quick&nbsp;links</h4>
            <nav class="nav flex-column">
                <a class="nav-link footer-link py-1" href="{% url 'about' %}">About</a>
                <a class="nav-link footer-link py-1" href="{% url 'services' %}">Services</a>
                <a class="nav-link footer-link py-1" href="{% url 'products' %}">Products</a>
                <a class="nav-link footer-link py-1" href="{% url 'events' %}">Events</a>
            </nav>
        </div>
        <div class="col-4 text-left">
            <h4 class="uppercase mb-3">Contact&nbsp;info</h4>
            <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
            333 O'Connell Street Lower, North City, 
            <br/>Dublin, Republic of Ireland </p>
            <p><i class="fas fa-phone-alt mr-3 icon-green"></i><a href="tel:+1234567890" class="email-phone-link"> +123 45 678 90</a></p>
            <p><i class="fas fa-envelope mr-3 icon-green"></i><a href="mailto:iratushina17@gmail.com?subject=Mail from Art of Tea" class="email-phone-link"> artoftea@test.com</a></p>
        </div>
    </div>
    <!--Bottom main footer-->
    <div class="row main-footer py-3 py-lg-2">
        <div class="col-12 container text-center">
            <a href="https://github.com/irinatu17/Art-of-Tea" target="_blank" 
                rel="noopener" class="icon-footer-container">
                <i class="fab fa-github media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/irina-tushina-b14a31181/" target="_blank"
                 rel="noopener" class="icon-footer-container">
                <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" 
                class="icon-footer-container">
                <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                 class="icon-footer-container">
                <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-12 text-center">
            <small> For educational purposes only | © 2020 Irina&nbsp;Tushina  </small>
        </div>
    </div>
</div>