<!--Footer-->
<footer class="py-3 container-fluid">
    <!--Desktop only footer section-->
    <div class="row text-center my-3 d-none d-lg-flex  border-bottom border-white pb-3">
        <div class="col-4">
            <a class="navbar-brand" href="#">
                <img src="/media/logo-white.png" alt="logo" class="logo">
            </a>
            <p>Tea ceremony in our tea club "Art of Tea" is an immersion into the secrets of the tea consuming traditions of the nations of the world, as well as a place for gathering together.  
                <br/>Explore the misterious world of tea with us!</p>
        </div>
        <div class="col-4">
            <h4 class="uppercase">Quick links</h4>
            <nav class="nav flex-column">
                <a class="nav-link text-white" href="#">About</a>
                <a class="nav-link text-white" href="#">Services</a>
                <a class="nav-link text-white" href="#">Products</a>
                <a class="nav-link text-white" href="#">Events</a>
            </nav>
        </div>
        <div class="col-4 text-left">
            <h4 class="uppercase mb-3">Contact info</h4>
            <p><i class="fas fa-map-marker-alt mr-3 icon-green"></i>
            333 O'Connell Street Lower, North City, 
            <br/>Dublin, Republic of Ireland </p>
            <p><i class="fas fa-phone-alt mr-3 icon-green"></i> +123 45 678 90</p>
            <p><i class="fas fa-envelope mr-3 icon-green"></i> artoftea@test.com</p>
        </div>
    </div>
    <!--Bottom main -->
    <div class="row">
        <div class="col-12 container text-center">
            <a href="https://github.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-github media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="icon-footer-container">
                <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-12 text-center">
                <small> © 2020 My CookBook. All Rights Reserved</small>
        </div>
    </div>
</footer>