<!--Top navbar-->
<div class="d-none d-md-block">
    <nav class="navbar fixed-top d-flex justify-content-end pb-0 w-100 nav-top">
        <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item mr-5 d-none d-md-block dropdown">
                    <a class="nav-link py-0 text-white"  href="#" id="accountDropdown" 
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <div class="text-center">
                               <div><i class="fas fa-user"></i></div>
                                <small class="my-0">My Account</small>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Admin Management</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
                        <a class="dropdown-item" href="{% url 'order_history' %}">Order History</a>
                        <a class="dropdown-item border-top" href="{% url 'account_logout' %}">Logout</a>
                    </div>
           </li>
            {% else %}
            <li class="nav-item d-none d-md-block my-auto">
                <a class="nav-link py-0 text-white" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item d-none d-md-block my-auto">
                <a class="nav-link border-left border-white py-0 text-white" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link py-0 {% if grand_total %}text-warning {% else %}text-white{% endif %}" 
                    href="{% url 'view_cart' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart"></i></div>
                        <small>
                        {% if grand_total %}
                           <span class="font-weight-bold"> €{{ grand_total|floatformat:2 }} </span>
                        {% else %}
                           € 0.00
                        {% endif %}
                        </small>
                    </div>
                </a>
            </li>
            
        </ul>
    </nav>
</div>
<!--Main navbar-->
<div class="main-nav-sticky fixed-top">
    <nav class="navbar p-1 navbar-expand-lg  navbar-dark d-block d-lg-flex">
        <div class="d-flex justify-content-between">
            <button class="navbar-toggler px-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Logo-->
            <a class="navbar-brand ml-3" href="{% url 'landing' %}">
                <img src="/static/img/logo.png" alt="logo" class="logo">
            </a> 
            <!--Search button-->
            <div class="d-flex">
                <button class="btn btn-large px-1 d-block d-lg-none mr-md-3" id="search-button">
                    <div class="text-center text-white">
                        <div> <i class="fas fa-search"></i></div>
                        <small>Search</small>
                    </div>
                </button>
                
                <a href="{% url 'view_cart' %}" 
                class="btn btn-large px-1 py-2 d-block d-md-none {% if grand_total %}text-warning {% else %}text-white{% endif %}">
                    <div class="text-center {% if grand_total %}text-warning {% else %}text-white{% endif %}">
                        <div><i class="fas fa-shopping-cart"></i></div>
                        <small>
                        {% if grand_total %}
                            <span class="font-weight-bold"> €{{ grand_total|floatformat:2 }} </span>
                        {% else %}
                            €0.00
                        {% endif %}
                        </small>
                    </div>
                </a> 
            </div>
        </div>
        <!--Search form for mobile and tablet-->
        <div class="px-3 py-1" id="search-form-container">
            <form  method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="serach_term_input" 
                            placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn button-black border-white rounded-right" type="submit">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-item-header ml-lg-5 mr-5">
                    <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item nav-item-header mr-5">
                    <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/products/services/' %}active{% endif %}" href="{% url 'services' %}">Services</a>
                </li>
                
                <li class="nav-item nav-item-header mr-5">
                    <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/products/' %}active{% endif %}" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item nav-item-header mr-5">
                    <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/events/' %}active{% endif %}" href="{% url 'events' %}">Events</a>
                </li>

                <li class="nav-item nav-item-header mr-5">
                    <a class="nav-link nav-link-header uppercase text-white {% if request.get_full_path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
                <div class="dropdown-divider d-md-none d-block"></div>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="nav-item d-md-none d-block">
                        <a class="nav-link uppercase text-white" href="{% url 'add_product' %}">Admin Management</a>
                    </li>
                    {% endif %}
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="{% url 'profile' %}">My profile</a>
                </li>
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="{% url 'order_history' %}">Order History</a>
                </li>
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="{% url 'account_logout' %}">Logout</a>
                </li>

                {% else %}
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="{% url 'account_login' %}">Login</a>
                </li>

                <li class="nav-item d-md-none d-block">
                    <a class="nav-link uppercase text-white" href="{% url 'account_signup' %}">Register</a>
                </li>
                 {% endif %}
            </ul>
            <form  method="GET" action="{% url 'products' %}" class="form-inline my-2 my-lg-0 d-none d-lg-block">
                <div class="input-group">
                    <input class="form-control" type="text" name="serach_term_input" 
                            placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark my-2 my-sm-0 border-white rounded-right" 
                                type="submit">
                            <i class="fas fa-search text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>