<!--Top navbar-->
<div class="d-none d-md-block">
    <nav class="navbar fixed-top d-flex justify-content-end pb-0 w-100">
        <ul class="nav">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link py-0 text-light" href="#">Login</a>
            </li>
            <li class="nav-item d-none d-md-block">
            <a class="nav-link border-left border-light py-0 text-light" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  py-0 text-light" href="#"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-0 text-light" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
    </nav>
</div>
<!--Main navbar-->
<div class="main-nav-sticky">
    <nav class="navbar navbar-expand-lg navbar-dark d-block d-lg-flex">
        <div class="d-flex justify-content-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/media/logo-white.png" alt="logo" class="logo-navbar">
            </a>
        <div class="row">  
        <button class="btn btn-large  d-block d-lg-none mr-md-3">
            <i class="fas fa-search text-light"></i>
        </button>
        <button class="btn btn-large d-block d-md-none">
            <i class="fas fa-shopping-cart text-light"></i>
        </button> 
        </div>
            
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-lg-5 mr-5">
            <a class="nav-link uppercase text-light" href="#">About</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link uppercase text-light" href="#">Services</a>
        </li>
        <li class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle uppercase text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item uppercase" href="#">Tea</a>
            <a class="dropdown-item uppercase" href="#">Teaware</a>
            </div>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link uppercase text-light" href="#">Events</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link uppercase text-light" href="#">Contuct</a>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item d-lg-none d-block">
            <a class="nav-link uppercase text-light" href="#">Login</a>
        </li>
        <li class="nav-item d-lg-none d-block">
        <a class="nav-link uppercase text-light" href="#">Register</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none d-lg-block">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark my-2 my-sm-0 border-light rounded-right" type="submit">
                        <i class="fas fa-search text-light"></i>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </nav>
</div>