<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Art of Tea</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link uppercase" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase" href="#">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item uppercase" href="#">Tea</a>
          <a class="dropdown-item uppercase" href="#">Teaware</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase" href="#">Contuct us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
      <button class="btn btn-outline-dark my-2 my-sm-0  rounded-right" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
    </div>
    </form>
  </div>
</nav>