<div class="container" data-aos="fade-up" data-aos-duration="1100">
    <div class="row" >
        <div class="col text-center span-benifits-container">
            <span class="span-benifits uppercase px-5 py-3">our&nbsp;benifits</span>
        </div>
    </div>
    <div class="row mt-5 text-center benifits-section">
    <!--Your choice-->
        <div class="col-sm-12 col-md-6" data-aos="fade-up-right" data-aos-duration="1200">
            <h4 class="main-heading">
            Your choice
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-heart-in-heands.png" alt="icon-heart-in-heands">
            <p class="mt-4 mb-4">
                We organize tea ceremony for both private and larger parties.  
                From small romantic getaways and friendly meetings to larger scale events.
                Everything is possible!
            </p>
        </div>
    <!--Our tea experts-->
        <div class="col-sm-12 col-md-6" data-aos="fade-up-left" data-aos-duration="1200">
            <h4  class="main-heading">
                Our tea experts
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-tea-master.png" alt="icon-tea-master">
            <p class="mt-4 mb-4">
                All our events are lead by experienced tea masters. We will show how to correctly serve the tea,
                describe everything about tea ceremonies in a simple language, tea-ware, geography, manufacturing of tea. 
                You will forever change your perception of tea.
            </p>
        </div>
    <!--Best tea quality-->
        <div class="col-sm-12 col-md-6" data-aos="fade-up-right" data-aos-duration="1500">
            <h4  class="main-heading">
                Best tea quality
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-tea-leaf.png" alt="icon-tea-leaf">
            <p class="mt-4 mb-4">
                You can chose from the finest tea selection from our Chineese and Japaneese suppliers.
                We care about the quality of our teas!
            </p>
        </div>
    <!--We are flexible-->
        <div class="col-sm-12 col-md-6" data-aos="fade-up-left" data-aos-duration="1500">
            <h4  class="main-heading">
                We are flexible
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-teapot.png" alt="icon-teapod">
            <p class="mt-4 mb-4">
                We can organise events both at our premisies and at your venue.<br/>
                Tea is what matters, not a place!
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 col-md-6 offset-md-3" data-aos="fade-up" data-aos-duration="1800">
    	    <!--Solitude and relaxation-->
            <h4  class="main-heading">
                Solitude and relaxation
            </h4>
            <img src="{{ STATIC_URL }}icons/icon-aromatherapy.png" alt="icon-aromatherapy">
            <p class="mt-4 mb-4">
                Tea ceremonies in the Tea Club "Art of tea" proceed in the atmosphere of solitude and relaxation. 
                The aroma, the taste, the colour and the aftertaste of tea are all representative of the balance of your mind,
                spirit and live.
            </p>
        </div>
    </div>
</div>