<div class = "container mb-3"  data-aos="fade-up" data-aos-duration="2000">
    <h2 class="text-center pt-5 main-heading">Tea ceremonies and tea shop in Dublin</h2>
    <hr class="w-50 mt-4">
    <div class="row pt-md-5 text-center mb-lg-5">
        <div class="col-sm-12 col-md-6 col-lg-5 pr-md-5">
            <p class = "landing-paragraph mb-lg-5 mt-lg-5"> 
                <strong>Art of tea</strong> is a refuge for a soul in the bustle of the city, an island of calm in the very heart of Dublin!
            </p>
            <p class = "landing-paragraph">
                In the tea club <strong>Art of tea</strong> you can visit one of our tea ceremonies, book an event for your company and buy nice fresh tea and teaware.
            </p>
            <div class="text-lg-left mt-4 mb-3 mb-md-0">
                <a href="{% url 'about' %}" class="btn button-black  uppercase px-3">Learn more</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-7 ">
            <img src="/static/img/landing/tea-ceremony-table.jpg" class="img-fluid" alt="tea-ceremony-table">
        </div>
    </div>
</div>