<div class="events-container-landing">
    <div class="container">
        <div class="row d-flex align-items-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="col-sm-12 col-md-8 col-lg-6  mb-3 mt-3 jumbotron">
                <h2 class="text-center main-heading"><strong>Art of Tea</strong> events for everyone</h2>
                <hr class="divider-green w-50 mt-4">
                <p  class = "text-center landing-paragraph mb-lg-4 mt-lg-4">
                    Every day something happens at our place: tea ceremonies, 
                    film screenings, various master classes, music events,
                     tea meditations, tea tastings.
                    <br/>Our tea club is available to everyone,
                     you do not need to be an expert in Chinese tea to come to us. 
                    <br/>Join our community, come and explore world of tea with us!
                </p>
                <div class="text-center mt-4">
                <a href="{% url 'events' %}" class="btn button-black  uppercase px-3">
                    View our events
                </a>
                </div>
            </div>
        </div>
    </div>
</div>