<div class="quote-section px-2 pt-1 pb-4">
    <h3 class="text-center main-heading quote-heading pt-5 text-white"> Drink&nbsp;tea. Slow&nbsp;down. Connect.
    </h3>
    <div class="blockquote text-right text-white pt-5 pr-2" data-aos="fade-up" data-aos-duration="1000">
        “But Ordinary Tea Can Become Extraordinarily Beautiful – <br/>
        A Tremendous Experience If You Enjoy It.<br/>
        Enjoy It With Deep Reverence.<br/> 
        Make It A Ceremony: Making Tea…<br/>
        Listening To The Kettle And The Sound,<br/> 
        Then Pouring The Tea… <br/>
        Smelling The Fragrance Of It,<br/>
        Then Tasting The Tea And Feeling Happy.”<br/>
        <em class="blockquote-footer text-white pt-1 pb-5 pb-md-0">Osho</em>
    </div>
</div>