<div class="quote-section">
    <h3 class="text-center main-heading pt-5 text-white"> Drink tea.&nbsp;Slow down.&nbsp;Connect.
    </h3>
    <div class="blockquote text-right text-white mt-4 pr-2" data-aos="fade-up" data-aos-duration="1000">
        “But Ordinary Tea Can Become Extraordinarily Beautiful – <br/>
        A Tremendous Experience If You Enjoy It.<br/>
        Enjoy It With Deep Reverence. Make It A Ceremony: <br/>
        Making Tea…<br/>
        Listening To The Kettle And The Sound,<br/> 
        Then Pouring The Tea… <br/>
        Smelling The Fragrance Of It,<br/>
        Then Tasting The Tea And Feeling Happy.”<br/>
        <p class="blockquote-footer text-white pt-1 pb-5 pb-md-0">Osho</p>
    </div>
</div>