<div class="col-12 col-md-7 col-lg-8 order-md-1 d-none d-md-block">
    <div class="mb-4">
        <p class="text-muted">Please fill out the form to complete the order</p>
    </div>
    <!--Tabs headings-->
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link text-dark active shadow-sm" id="personal-details-tab" data-toggle="tab"
                href="#personal-details" role="tab" aria-controls="personal-details" aria-selected="true">
                Personal Details
            </a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link text-dark shadow-sm" id="shipping-info-tab" data-toggle="tab"
                href="#shipping-info" role="tab" aria-controls="shipping-info" aria-selected="false">
                Shipping Info
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark  shadow-sm" id="payment-details-tab" data-toggle="tab"
                href="#payment-details" role="tab" aria-controls="payment-details" aria-selected="false">
                Payment
            </a>
        </li>
    </ul>

    <!--Tabs content-->
    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
        <div class="tab-content border border-top-0 rounded-lg shadow" id="nav-tabContent">
            <!--Personal details-->
            <div class="tab-pane fade show active p-4" id="personal-details" role="tabpanel" aria-labelledby="personal-details-tab">
                <h4 class="font-weight-bold mb-4">1. Personal Details</h4>
                {% csrf_token %}
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
                <!--Button Next-->
                <div class="input-group mb-3 group-end text-right d-flex justify-content-end">
                    <a class="btn button-green btn-next uppercase checkout-button btnNext">Next <i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <!--Shipping Info-->
            <div class="tab-pane fade p-4" id="shipping-info" role="tabpanel" aria-labelledby="shipping-info-tab">
                <h4 class="font-weight-bold mb-4">2. Shipping Info</h4>
                {{ order_form.address_line1 | as_crispy_field }}
                {{ order_form.address_line2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                <!--Buttons Next/Go back-->
                <div class="input-group mb-3 group-end text-right d-flex justify-content-end">
                    <a class="btn button-black-outline btn-prev checkout-button uppercase btnGoBack mr-3">
                        <i class="fas fa-chevron-left"></i> Go Back
                    </a>
                    <a class="btn button-green btn-next uppercase checkout-button btnNext">
                        Next <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>

            <!--Payment Details--> 
            <div class="tab-pane fade p-4" id="payment-details" role="tabpanel" aria-labelledby="payment-details-tab">
                <h4 class="font-weight-bold mb-4">3. Payment Details</h4>   
                <!--Stripe form--> 
                <!--Stripe errors--> 

                <!--Buttons Next/Proceed payment--> 
                <div class="d-flex justify-content-end input-group">
                    <div>
                        <a class="btn button-black-outline btn-prev checkout-button uppercase btnGoBack mr-md-1 mr-lg-3">
                            <i class="fas fa-chevron-left"></i> Go Back
                        </a>
                    </div>
                    <div>
                        <button button id="submit-button" type="submit" class="btn btn-payment checkout-button uppercase">
                        Proceed payment <i class="fas fa-lock"></i>
                        </button>
                        <p class="text-salmon text-right small">
                            Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong>
                        </p>
                    </div>
                </div>      
            </div>
        </div>
    </form> 
</div>