{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="mt-3 mb-3">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mb-3 mt-3">
            <a href="{% url 'profile' %}" class="btn button-black-outline  px-1 px-sm-3 mr-sm-3 mt-1"><i class="fas fa-angle-left"></i> Back to Profile</a>
            <button type="submit" class="btn button-green px-1 px-sm-3 mt-1" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
