{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="text-center">
<h1 class="main-heading uppercase">{% trans "Sign up" %}</h1>
<hr class="divider-green w-25 mt-3">
</div>




<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="text-center mb-3 mt-4">
  <button type="submit" class="btn button-green w-100 uppercase">{% trans "Sign Up" %}  &raquo;</button>
  </div>
</form>
<div class="text-center mb-3">
<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Login here</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
