{% extends "base.html"%}
{% load static %}

{% block content%}
<!--Hero image and buttons-->
<section class="hero-image">
<div class="landing-text px-2">
    <h1 class="display-2 text-white uppercase landing-main-heading">
    Art of tea
    </h1>
    <h5 class = "text-white mt-3">Explore the amazing world of tea with us</h5>
    <div class = "mt-5">
        <button type="button" class="btn rounded-0 mr-lg-3 landing-button uppercase">Book tea ceremony</button>
        <button type="button" class="btn  rounded-0 mt-2 mt-md-0 landing-button uppercase">Buy tea or teaware</button>
    </div>
</div>
</section>

<!--Main about section-->
<div class = "container">
    <h2 class="text-center pt-5 landing-about-heading">Tea ceremonies and tea shop in Dublin</h2>
    <hr class="w-50 mt-4">
    <div class="row pt-md-5 text-center mb-lg-5">
        <div class="col-sm-12 col-md-6 col-lg-5 pr-md-5">
            <p class = "landing-paragraph mb-lg-5 mt-lg-5"> 
                <strong>Art of tea</strong> is a refuge for a soul in the bustle of the city, an island of calm in the very heart of Dublin!
            </p>
            <p class = "landing-paragraph">
                In the tea club <strong>Art of tea</strong> you can visit one of our tea ceremonies, book an event for your company and buy nice fresh tea and teaware.
            </p>
            <div class="text-lg-left mt-4 mb-3 mb-md-0">
                <button type="button" class="btn landing-button-black  uppercase px-3">Learn more</button>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-7 ">
            <img src="/media/tea-ceremony-table.jpg" class="img-fluid" alt="tea-ceremony-table">
    
        </div>
    </div>
</div>
<hr>
{% endblock %}