<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %} 
    <title>Art of Tea {% block extra_title %}{% endblock %}</title>
</head>

<body onload="fadeSpinner()">
{% include 'includes/spinner.html' %} 

<header>
{% include 'includes/navbar.html' %} 

{% block page_header %}
{% endblock %}
</header>

<!--Toast notifications - messages -->
{% include 'includes/messages.html' %} 

<main>
{% block content %}
{% endblock %}
</main>

 <footer>
{% include 'includes/footer.html' %} 
 </footer>
 
{% block corejs %}
    {% include 'includes/scripts.html' %}  
{% endblock %}

{% block extra_js %}
{% endblock %}
</body>
</html>
