{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    <title>Art of Tea {% block extra_title %}{% endblock %}</title>
</head>

<body>
{% include 'includes/navbar.html' %} 

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% include 'includes/footer.html' %} 
{% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
</body>
</html>
