<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %} 
        <title>Art of Tea {% block extra_title %}{% endblock %}</title>
    </head>

    <body onload="fadeSpinner()">
    {% include 'includes/spinner.html' %} 

    <header class="fixed-top container-fluid header">
    {% include 'includes/navbar.html' %} 
    </header>

    <!--Toast notifications - messages -->
    {% include 'includes/messages.html' %} 

    <main>
        {% block content %}
        {% endblock %}
        <div class="btt-button shadow-sm border border-black" id="back-to-top-btn">
            <a class="btt-link d-flex h-100" title="Back to Top">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>	
        </div>
    </main>

    <footer>
    {% include 'includes/footer.html' %} 
    </footer>
    
    {% block corejs %}
        {% include 'includes/scripts.html' %}  
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    </body>
</html>
