<div class="col-sm-12 col-md-6 col-lg-4  text-center mt-4">
    <a href="{% url 'product_details' product.id %}">
        <img class="card-img-top img-fluid rounded-lg shadow-sm" 
                src="{{ product.image_gallery.image }}" 
                alt="{{ product.name }}">
    </a>
    <div class="text-block">
    <p>{{ product.category.friendly_name }}</p>
    </div>
    <h6 class="text-center main-heading mt-3 mb-3 lead">{{ product.name }}</h6>
    
    <div class=" mb-3 d-flex justify-content-around align-items-baseline">
        <p class="text-center">
            <span class=" font-weight-bold"><i class="fas fa-euro-sign mr-2"></i>
                {{ product.price }}
            </span>
            {% if product.has_weight %}
            <span> / 100g</span>
            {% endif %}
        </p>
        <a href="{% url 'product_details' product.id %}" 
            class="btn button-green px-3">
            View Details
        </a>
    </div>
</div>