<form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
{% csrf_token %}

    <!--Quantity-->
    <h6 class="font-weight-bold mt-4">Quantity:</h6>
    <div class="row d-flex justify-content-between">
        <div class="col-7 col-md-6">
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control " value="1" required>
            </div>
            <!--Weight-->
            {% if product.has_weight %}
            <small class="text-muted">Each pack is 100g</small>
            {% endif %}
        </div>
        <div class="col-5 col-md-6 text-center">
            <p class="font-weight-bold">
            <!--Price-->
                <span class="border p-3 rounded-pill border-success">
                <i class="fas fa-euro-sign mr-2"></i>{{ product.price }}</span>
            </p>
        </div>
    </div>
    <!--buttons-->
    <div class="mt-4 mb-3 text-center text-md-left">
        <a href="{% url 'products' %}" class="btn button-black-outline px-3 mr-3">
            <i class="fas fa-angle-left"></i> Go back
        </a>
        <input type="submit" class="btn button-green px-3" value="Add to Cart">
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>