{% extends "base.html"%}
{% load static %}

{% block content%}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="uppercase landing-about-heading">About us</h1>
            <hr class="divider-green w-25 mt-3">
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-12 col-md-6 ">
            <h3 class="text-center landing-about-heading text-salmon">Who We Are</h3>
            <p class = "text-center landing-paragraph mt-lg-4">
                <strong>Art of Tea</strong>  is a creative and mobile team formed by a group of professionals who are fascinated with the world of tea.</p>
             <p class = "text-center landing-paragraph mt-lg-4">
             We have been collaborating with local talented chefs and artisans to create truly unique tea and dine experiences where the amazing Eastern tea tradition is combined with the Western culture and hosted a number of tea gatherings in Dublin since 2010.
            </p>
        </div>
        <div class="col-12 col-md-6">
        image here
        </div>
        <div class="col-12 col-md-6">
           image here 
        </div>
        <div class="col-12 col-md-6">
            <h3 class="text-center landing-about-heading text-salmon">Our principals</h3>
            <p class = "text-center landing-paragraph mt-lg-4">
            Throughout our journey we aim at providing 
                <br/>customer-oriented,
                <br/>flexabile,
               <br/> diverce,
                <br/>eco-friendly,
               <br/> authentic and eye-openning experience.
                
            </p>
             <p class = "text-center landing-paragraph mt-lg-4">
            </p>
        </div>
    </div>
    <hr>
    <div class="row text-center d-flex align-items-center">
        <div class="col-12 col-md-6 col-lg-5 mb-3 mt-3">
            <h3 class="text-center landing-about-heading text-salmon">Our Mission</h3>
            <p  class = "text-center landing-paragraph mt-lg-4">
                Perception of tea in Ireland saddens us a lot. People are well-versed in coffee, alcohol, but the knowledge of tea is limited. Tea is a world of its own that is locked for most.

                <br/>We aim to promote tea culture in Ireland.

                </p> 
                <div class="text-center"><i class="fab fa-pagelines icon-green icon-large "></i></div>
                <p class = "text-center landing-paragraph mb-lg-4 mt-lg-4"> Our mission is to guide curious minds into the world of Tea.  Our aim is to help others to learn about its magical world and the art of Living Slowly. Through Tea we are able to create space for others to slow down, savour the moment and see the magic in the ordinary.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-7 ">
        img
        </div>
    </div>
</div>
{% endblock %}