{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 mb-5">
    <!--Contact Heading-->
        {% include 'contact/includes/contact_heading.html' %} 

    <div class="row mt-4">
        <!--Contact Form-->
        {% include 'contact/includes/contact_form.html' %} 

        <!--Contact Details and Map-->
        {% include 'contact/includes/contact_details.html' %} 
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/map.js' %}"></script>
   
{% endblock %}