<div class="col-12 col-md-6 mt-3" data-aos="fade-in" data-aos-duration="1000"
     data-aos-easing="ease-in-out" >
    <img src="{{ STATIC_URL }}img/about/matcha-tea-with-heart.jpg" class="img-fluid"
         alt="matcha-tea-with-heart">  
</div>

<div class="col-12 col-md-6 mt-3">
    <h3 class="text-center main-heading text-salmon">Our&nbsp;principles</h3>
    <p class = "text-center landing-paragraph mt-lg-4">
        Throughout our journey we aim at providing 
    </p>
    <ul class="list-unstyled landing-paragraph text-center">
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>customer-oriented,</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>flexibile,</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>diverce,</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>eco-friendly,</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>authentic,</li>
        <li><i class="fas fa-arrow-right mr-3 icon-green"></i>eye-openning experience.</li>
    </ul>
</div>