 <div class="col-12 col-md-6 col-lg-5 mb-3">
    <h3 class="text-center main-heading text-salmon">Who&nbsp;We&nbsp;Are</h3>
    <p class = "text-center landing-paragraph mt-lg-4">
        <strong>Art&nbsp;of&nbsp;Tea</strong>  is a creative and mobile team formed by a group
         of professionals who are fascinated with the world of tea.
    </p>
    <p class = "text-center landing-paragraph mt-lg-4">
        We have been collaborating with local talented chefs and artisans to create truly 
        unique tea and dine experiences where the amazing Eastern tea tradition is combined 
        with the Western culture and hosted a number of tea gatherings in Dublin since 2010.
    </p>
</div>
<div class="col-12 col-md-6 col-lg-7 mb-3" data-aos="fade-in" 
    data-aos-duration="2000" data-aos-easing="ease-in-out">
    <img src="{{ STATIC_URL }}img/about/our-team.jpg" class="img-fluid" alt="our-team">
</div>