{% if itinerary_items %}
    <div>
        <h4 class="main-heading text-salmon my-4">Itinerary:</h4>
        <table class="table">
            {% for item in itinerary_items %} 
            <tr>
                <th>{{ item.time }}</th>
                <td class="ml-4">
                {% if request.user.is_superuser %}
                <div class="d-flex justify-content-between">
                 <p>{{  item.text }}</p>
                    <!--Remove button-->
                    <a class="remove-button text-right"
                        data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}" title="Remove">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </div>
                {% else %}
                {{  item.text }}
                {% endif %}
                </td> 
            </tr>
            
            <!-- Delete Itinerary Item Modal -->
            <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" 
                aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title text-danger font-weight-bold" id="deleteModalLabel">Delete Itinerary Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-red">
                        <i class="fas fa-exclamation-circle text-danger"></i>
                        Are you sure you want to delete <br/><span class="font-weight-bold">{{  item.time }}-{{  item.text }}</span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-black-outline" data-dismiss="modal">Close</button>
                    <a href="{% url 'remove_itinerary_item' item.id %}" class="btn btn-danger">Delete</a>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </table>
    </div>
{% endif %}

