{% if not service.discontinued %}
<p class="text-muted mt-3">Please fill out the form below to book the ceremony</p>
<form class="form" action="{% url 'add_to_cart' service.id %}" method="POST">
    {% csrf_token %}
    <!--Number of participans-->
    <h6 class="font-weight-bold mt-4">Number of participants:</h6>
    <div class="input-group mt-3">
        <div class="d-flex number-of-participants-container">
            <div class="input-group-prepend">
                <button class="decrement-qty btn button-quantity rounded-0" 
                    data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input name="quantity" type="number" min="1" max="100" class="form-control qty_input" value="1"
                    data-item_id="{{ service.id }}"
                    id="id_qty_{{ service.id }}" required>
            <div class="input-group-append">
                <button class="increment-qty btn button-quantity rounded-0"
                    data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!--Date and time picker-->
    <h6 class="font-weight-bold mt-4">Date and Time:</h6>

    <div class="input-group date w-100" id="datetime" data-target-input="nearest">
        <input type="text" name="datetime" class="form-control datetimepicker-input" data-target="#datetime" required/>
        <div class="input-group-append" data-target="#datetime" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
    </div>
    <p class="text-muted small mt-2">
        The confirmation of your booking will be sent to your email
     and we will get back to you soon to discuss further details.</p>
    <!--buttons-->
    <div class="mt-4 mb-4 text-center text-md-left">
        <a href="{% url 'services' %}" class="btn btn-service uppercase products-btn button-black-outline px-3 mr-1 mr-lg-3">
            &lsaquo;&nbsp;Services
        </a>
        <input type="submit" class="btn button-green btn-service uppercase products-btn px-3" value="Add to Cart">
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>
{% else %}
<div class="row">
    <div class="col-12">
        <p class="uppercase font-weight-bold text-danger">not available</p>
    </div>
    <div class="col-12 mt-3">
        <a href="{% url 'products' %}" class="btn button-black-outline uppercase px-3 mr-3">
            <i class="fas fa-angle-left"></i> all services
        </a>
    </div>
</div>
{% endif %}