<p class="text-muted mt-3">Please fill out the form below to book the ceremony</p>
<form class="form" action="{% url 'add_to_cart' service.id %}" method="POST">
    {% csrf_token %}
    <!--Number of participans-->
    <h6 class="font-weight-bold mt-4">Number of participants:</h6>
    <div class="input-group mt-3 w-100">
        <input name="quantity" type="number" min="1" max="100" class="form-control" value="1" required>
    </div>
    <!--Date and time picker-->
    <h6 class="font-weight-bold mt-4">Date and Time:</h6>

    <div class="input-group date w-100" id="datetime" data-target-input="nearest">
        <input type="text" name="datatime" class="form-control datetimepicker-input" data-target="#datetime" required/>
        <div class="input-group-append" data-target="#datetime" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
    </div>   
    <!--Place 
    <h6 class="font-weight-bold mt-4">Where the ceremony will take place?</h6>
    <select class="custom-select" name="service_place">
        <option value="tea_club">in our tea club "Art of Tea"</option>
        <option value="customer_place">at your place (home/office)</option>
    </select>--> 
    <!--Comment  
    <div class="form-group">
        <label for="additional_comment" class= "font-weight-bold mt-4">Your additional comment/query:</label>
        <textarea class="form-control" name="comment" id="additional_comment" rows="4"></textarea>
    </div>--> 
    <p class="text-muted small mt-2">The confirmation of your booking will be sent to your email
     and we will get back to you soon to discuss further details.</p>
    
    <!--buttons-->
    <div class="mt-4 mb-4 text-center text-md-left">
        <a href="{% url 'services' %}" class="btn btn-service uppercase button-black-outline px-3 mr-0 mr-lg-3"><i class="fas fa-angle-left"></i> Go back</a>
        <input type="submit" class="btn btn-salmon btn-service uppercase font-weight-bold px-3" value="Add to Cart">
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>