{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="uppercase main-heading">Admin Management</h1>
            <hr class="divider-green w-25 mt-3">
         </div>
    </div>

    <div class="row mb-5">
        <!--Add Product form-->
        <div class="col-12 col-md-6">
        <h3 class=" my-4 ml-4">Add a New Product</h3>
            <form method="POST" action="{% url 'add_product' %}" class="form p-4 shadow rounded-lg" enctype="multipart/form-data">
                {% csrf_token %}
                {{ product_form.name | as_crispy_field }}
                {{ product_form.description | as_crispy_field }}
                {{ product_form.category | as_crispy_field }}
                {{ product_form.sku| as_crispy_field }}
                {{ product_form.price | as_crispy_field }}
                {{ product_form.rating | as_crispy_field }}
                <p>Select a Product Type</p>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="tea" name="has_weight" class="custom-control-input" value="True" required>
                    <label class="custom-control-label" for="tea">Tea</label>
                </div>
                 <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="teaware" name="has_weight" class="custom-control-input" value="False"> 
                    <label class="custom-control-label" for="teaware">Teaware</label>
                </div>
                <div class="text-right mt-4">
                    <a class="btn button-black-outline mr-2" href="{% url 'products' %}">Cancel</a>
                    <button class="btn button-green" name="product"  type="submit">Add Product</button>
                </div>
            </form>
        </div>
        <!--Add Service form-->
        <div class="col-12 col-md-6">
            <h3 class=" my-4 ml-4">Add a New Service</h3>
            <form method="POST" action="{% url 'add_product' %}" class="form p-4 shadow rounded-lg" enctype="multipart/form-data">
                {% csrf_token %}
                {{ service_form.name | as_crispy_field }}
                {{ service_form.description | as_crispy_field }}
                {{ service_form.duration | as_crispy_field }}
                {{ service_form.price | as_crispy_field }}
                {{ service_form.rating | as_crispy_field }}
                <div class="text-right mt-4">
                    <a class="btn button-black-outline mr-2" href="{% url 'services' %}">Cancel</a>
                    <button class="btn button-green" name="service" type="submit">Add Service</button>
                </div>
            </form>
        </div>            
    </div>
</div>
{% endblock %}