{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Product Management{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 class="uppercase main-heading">Product Management</h1>
            <hr class="divider-green w-25 mt-3">
         </div>
    </div>

    <div class="row mb-5 mt-5">
        <!--Add Product form-->
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-3 px-2">
            <div class="accordion" id="accordionForm">
                <div class="card">
                    <div class="card-header" id="headingProduct">
                    <h2 class="mb-0 text-salmon">
                        <a class="btn text-center btn-lg collapsed"
                         data-toggle="collapse" data-target="#collapseProduct"
                         aria-expanded="false" aria-controls="collapseProduct">
                       <i class="fas fa-plus-circle mr-1"></i>&nbsp;Add&nbsp;a&nbsp;New&nbsp;Product
                        </a>
                    </h2>
                    </div>
                    <div id="collapseProduct" class="collapse" aria-labelledby="headingProduct"
                         data-parent="#accordionForm">
                        <div class="card-body">
                            <form method="POST"  action="{% url 'add_product' %}"  class="form" 
                                id="product_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ product_form.name | as_crispy_field }}
                            {{ product_form.description | as_crispy_field }}
                            {{ product_form.category | as_crispy_field }}
                            {{ product_form.sku| as_crispy_field }}
                            {{ product_form.price | as_crispy_field }}
                            {{ product_form.rating | as_crispy_field }}
                            <p>Select a Product Type *</p>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="tea" name="has_weight_value" 
                                    class="custom-control-input" value="True" required>
                                <label class="custom-control-label" for="tea">Tea</label>
                            </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="teaware" name="has_weight_value" 
                                    class="custom-control-input" value="False"> 
                                <label class="custom-control-label" for="teaware">Teaware</label>
                            </div>
                            <div class="my-3">
                                {{ product_form.image_url | as_crispy_field }}
                                    {{ product_form.image }}
                                <p class="small text-muted mb-0 mt-2"><span class="font-weight-bold">Note:</span>
                                    If you don't provide an image, no-image placeholder will be assigned.</p>
                                <p  class="small text-muted my-0"> Image URL field is optional. 
                                You can upload your image to a free image hosting website (e.g. ImgBB) 
                                    and paste direct link here.</p>
                            </div>
                            <div class="text-right mt-4">
                                <a class="btn button-black-outline mr-2" href="{% url 'products' %}">
                                    &lsaquo;&nbsp;Products
                                </a>
                                <button class="btn button-green" name="product"  type="submit">
                                    &#43;&nbsp;Add&nbsp;Product
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingService">
                    <h2 class="mb-0 text-salmon">
                        <a class="btn text-center btn-lg collapsed" 
                        data-toggle="collapse" data-target="#collapseService"
                         aria-expanded="false" aria-controls="collapseService">
                      <i class="fas fa-plus-circle mr-1"></i>&nbsp;Add&nbsp;a&nbsp;New&nbsp;Service
                        </a>
                    </h2>
                    </div>
                    <div id="collapseService" class="collapse" aria-labelledby="headingService"
                         data-parent="#accordionForm">
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_product' %}" class="form" 
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ service_form.name | as_crispy_field }}
                            {{ service_form.description | as_crispy_field }}
                            {{ service_form.duration | as_crispy_field }}
                            {{ service_form.price | as_crispy_field }}
                            {{ service_form.rating | as_crispy_field }}
                            <div class="my-3">
                                {{ service_form.image_url | as_crispy_field }}
                                {{ service_form.image }}
                                <p class="small text-muted mt-2 mb-0"><span class="font-weight-bold">Note:</span>
                                If you don't provide an image, no-image placeholder will be assigned.</p>
                                <p  class="small text-muted my-0"> Image URL field is optional. 
                                You can upload your image to a free image hosting website (e.g. ImgBB) and paste direct link here.</p>
                            </div>
                            <input type="hidden" name="discontinued" value="False">
                            <div class="text-right mt-4">
                                <a class="btn button-black-outline mr-2" href="{% url 'services' %}">
                                    &lsaquo;&nbsp;Services
                                </a>
                                <button class="btn button-green" name="service" type="submit">
                                    &#43;&nbsp;Add&nbsp;Service
                                </button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>           
    </div>
</div>
{% endblock %}
