{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
    <!--Delivery info-->
    <div class="container-fluid delivery-info">
        <div class="row">
            <div class="col-12 text-center">
            <p class="uppercase mb-0">FREE DELIVERY FROM <strong>€ 70!</strong></p>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->    
    <div class="container-fluid breadcrumbs-container">
        <div class="row">
            <div class="col-12 pt-3">
                <a href="{% url 'landing' %}" class="breadcrumbs-text pl-4">Home</a> >
                <a href="{% url 'products' %}" class="breadcrumbs-text">Products</a>
            </div>
        </div>
    </div>
    <!--Main content-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase landing-about-heading">Products</h1>
                <hr class="divider-green w-25 mt-3">
            </div>
           <!-- <div class="col-12">
                <p class="text-center">
                   Your search for {% if search_word %}  <strong>"{{ search_word }}"</strong>{% endif %} produced {{ products|length }} search result(s) 
                </p>
            </div>-->
            <div class="col-12">
                <ul class="nav justify-content-center uppercase">
                    <li class="nav-item border border-dark mr-3">
                        <a class="nav-link category-main-nav" href="{% url 'products' %}?category=black_tea,green_tea,white_tea,herbal_tea,matcha,pu_erh_tea,rooibos_tea,wellness_tea,oolong_tea"> 
                            <i class="fas fa-leaf mr-3 icon-green"></i> Tea
                        </a>
                    </li>
                    <li class="nav-item border border-dark">
                        <a class="nav-link category-main-nav" href="{% url 'products' %}?category=teaware"> 
                            <i class="fas fa-coffee mr-3 icon-green"></i> Teaware
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-4  text-center mt-4">
                <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image_gallery.image_url }}" alt="{{ product.name }}">
                </a>
                <p class="text-center">{{ product.name }}</p>
                <p class="text-center">{{ product.category.friendly_name }}</p>
                <p class="text-center"><i class="fas fa-euro-sign mr-3"></i>{{ product.price }}</p>
                <div class="mb-4">
                    <button type="button" class="btn landing-button-green px-3">Add to Cart</button>
                    <button type="button" class="btn landing-button-black px-3">View Details</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
