{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
    <!--Delivery info-->
    <div class="container-fluid delivery-info">
        <div class="row">
            <div class="col-12 text-center">
            <p class="uppercase mb-0">FREE DELIVERY FROM <strong>€ 70!</strong></p>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->    
    <div class="container-fluid breadcrumbs-container pl-3">
        <div class="row">
            <div class="col-12 pt-3">
                <a href="{% url 'landing' %}" class="breadcrumbs-text pl-3">Home</a> >
                <a href="{% url 'products' %}" class="breadcrumbs-text">Products</a> 
                {% for category in selected_categories %}
                    > <a href="{% url 'products' %}?category={{ category.name }}" class="breadcrumbs-text">{{ category.friendly_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
     <hr>
    <!--Main content-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase main-heading">Products</h1>
                <hr class="divider-green w-25 mt-3">
            </div>
           <!-- <div class="col-12">
                <p class="text-center">
                   Your search for {% if search_word %}  <strong>"{{ search_word }}"</strong>{% endif %} produced {{ products|length }} search result(s) 
                </p>
            </div>-->
            <div class="col-12">
                <ul class="nav justify-content-center uppercase">

                    <li class="nav-item border border-dark mr-3 dropdown">
                        <a class="nav-link category-main-nav" id="dropdownMenuButton" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false" href="#"> 
                            <i class="fas fa-leaf mr-3 icon-green"></i> Tea
                        </a>
                        <ul class="dropdown-menu dropdown-tea-columns" aria-labelledby="dropdownMenuButton">
                            <li><a href="{% url 'products' %}?category=black_tea" class="dropdown-item">Black Tea</a></li>
                            <li><a href="{% url 'products' %}?category=green_tea" class="dropdown-item">Green Tea</a></li>
                            <li><a href="{% url 'products' %}?category=white_tea" class="dropdown-item">White Tea</a></li>
                            <li><a href="{% url 'products' %}?category=herbal_tea" class="dropdown-item">Herbal Tea</a></li>
                            <li><a href="{% url 'products' %}?category=wellness_tea" class="dropdown-item">Wellness Tea</a></li>
                            <li><a href="{% url 'products' %}?category=matcha" class="dropdown-item">Matcha</a></li>
                            <li><a href="{% url 'products' %}?category=pu_erh_tea" class="dropdown-item">Pu Erh Tea</a></li>
                            <li><a href="{% url 'products' %}?category=oolong_tea" class="dropdown-item">Oolong tea</a></li>
                            <li><a href="{% url 'products' %}?category=rooibos_tea" class="dropdown-item">Rooibos Tea</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item border border-dark">
                        <a class="nav-link category-main-nav" href="{% url 'products' %}?category=teaware"> 
                            <i class="fas fa-coffee mr-3 icon-green"></i> Teaware
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-4  text-center mt-4">
                <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image_gallery.image }}" alt="{{ product.name }}">
                </a>
                <div class="text-block">
                <p>{{ product.category.friendly_name }}</p>
                </div>
                <p class="text-center">{{ product.name }}</p>
                <p class="text-center"><i class="fas fa-euro-sign mr-3"></i>{{ product.price }}</p>
                <div class="mb-4">
                    <button type="button" class="btn button-green px-3">Add to Cart</button>
                    <a href="{% url 'product_details' product.id %}" class="btn button-black px-3">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
