{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
    <!--Delivery info-->
    {% include 'includes/delivery_banner.html' %} 
    <!--Breadcrumbs-->    
    {% include 'products/includes_products/breadcrumbs_all_products.html' %} 

    <!--Main content-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase main-heading">Products</h1>
                <hr class="divider-green w-25 mt-3">
            </div>
            <!--Tea Categories-->    
            {% include 'products/includes_products/tea_categories.html' %} 
        </div>
        <div class="row ">
            {% for product in products %}
                <!--Products Cards-->    
                {% include 'products/includes_products/products_cards.html' %} 
            {% endfor %}
        </div>
    </div>
{% endblock %}
