{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
    <!--Delivery info-->
    {% include 'includes/delivery_banner.html' %} 

    <!--Breadcrumbs-->    
    {% include 'products/includes_products/breadcrumbs_product_details.html' %} 

    <!--Main content-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase main-heading products-heading">{{ product.name }}</h1>
                <i class="fab fa-pagelines icon-green icon-large"></i>
            </div>
        </div>
        <div class="row mb-4 mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% if product.image_gallery.image %}
                    <a href="{{ product.image_gallery.image_url }}" target="_blank" rel="noopener">
                        <img class="card-img-top img-fluid rounded-lg shadow-sm" 
                            src="{{ product.image_gallery.image }}" 
                            alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded-lg shadow-sm" 
                            src="{{ STATIC_URL }}img/no-image.jpg" 
                            alt="{{ product.name }}">
                    </a>
                {% endif %}
                
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 d-flex justify-content-between flex-column">
                <p class="text-salmon">
                    <i class="fas fa-tag mr-2 "></i>
                    <a href="{% url 'products' %}?category={{ product.category.name }}" 
                       class="text-dark font-weight-bold">
                        {{ product.category.friendly_name }}
                    </a>
                </p>
                <p>{{ product.description }}</p>
                {% if product.rating %}
                <p class="text-salmon">
                    <i class="fas fa-star mr-2"></i>
                    <span class="text-dark">{{ product.rating }} / 5 </span>
                </p>
                {% endif %}
                <!--Product Form-->
                {% include 'products/includes_products/products_quantity_form.html' %} 
            </div>
        </div>
    </div>
{% endblock %}