{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
    <!--Delivery info-->
    <div class="container-fluid delivery-info">
        <div class="row">
            <div class="col-12 text-center">
            <p class="uppercase mb-0">FREE DELIVERY FROM <strong>€ 70!</strong></p>
            </div>
        </div>
    </div>
    <!--Breadcrumbs-->    
    <div class="container-fluid breadcrumbs-container pl-3">
        <div class="row">
            <div class="col-12 pt-3">
                <a href="{% url 'landing' %}" class="breadcrumbs-text pl-3">Home</a> >
                <a href="{% url 'products' %}" class="breadcrumbs-text">Products</a> >
                <a href="{% url 'products' %}?category={{ product.category.name }}" class="breadcrumbs-text">{{ product.category.friendly_name }}</a> >
                <a href="{% url 'product_details' product.id %}" class="breadcrumbs-text">{{ product.name }}</a>
            </div>
        </div>
    </div>
    <hr>
    <!--Main content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="uppercase landing-about-heading">{{ product.name }}</h1>
                <i class="fab fa-pagelines icon-green icon-large"></i>
            </div>
        </div>
        <div class="row mb-4 mt-4">
            <div class="col-sm-12 col-md-6">
                <a href="#">
                    <img class="card-img-top img-fluid" src="{{ product.image_gallery.image }}" alt="{{ product.name }}">
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <p><i class="fas fa-tag mr-3"></i>{{ product.category.friendly_name }}</p>
                <p>{{ product.description }}</p>
                <p>{{ product.rating }}</p>
                <p><i class="fas fa-euro-sign mr-3"></i>{{ product.price }}</p>
            </div>
        </div>
    </div>
{% endblock %}