{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
<!--Breadcrumbs-->    
<div class="container-fluid breadcrumbs-container pl-3">
    <div class="row">
        <div class="col-12 pt-3">
            <a href="{% url 'landing' %}" class="breadcrumbs-text pl-3">Home</a> >
            <a href="{% url 'services' %}" class="breadcrumbs-text">Services</a> >
            <a href="{% url 'service_details' service.id %}" class="breadcrumbs-text">{{ service.name }}</a>
        </div>
    </div>
</div>
<hr>
<!--Main content-->
<div class="container mt-4">
    <div class="row ">
        <div class="col-12">
            <h1 class="uppercase main-heading text-center">{{ service.name }}</h1>
            <hr class="divider-green w-25 my-4">
            <div class="col-12 col-md-10 offset-md-1">
                <a href="{{ service.image_gallery.image_url }}" target="_blank" rel="noopener">
                    <img class="img-fluid w-100" src="{{ service.image_gallery.image }}" alt="{{ service.name }}">
                </a>
                
                <div class="row mt-4">
                    <div class="col-12 col-md-6 ">
                        <p class="landing-paragraph">{{ service.description }}</p>
                        <div>
                        <hr>
                            <h4 class="main-heading text-salmon my-4">Itinerary example:</h4>
                            <table class="table">
                                {% for item in itinerary_items %} 
                                <tr>
                                   <th>{{ item.time }}</th>
                                    <td class="ml-4">{{  item.text }}
                                    </td> 
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" d-flex justify-content-between">
                            <div>
                                <p>
                                    <span class="font-weight-bold mr-2">Duration:</span>
                                    {{ service.duration }}
                                </p>
                                <p>
                                    <i class="fas fa-star mr-2"></i><span class="text-dark">
                                    {{ service.rating|floatformat:1 }} / 5 </span>
                                </p>
                            </div>
                            <div class="mt-2">
                                <p>
                                    <span class="font-weight-bold border p-3 rounded-pill border-success">
                                    <i class="fas fa-euro-sign mr-2"></i>{{ service.price }}</span>
                                </p>
                                <p class="text-muted small text-center">per person</p>
                            </div>
                        </div>
                        <div>
                         <form class="form" action="" method="POST">
                             {% csrf_token %}
                              <!--Number of participans-->
                            <h6 class="font-weight-bold mt-4">Number of participans:</h6>
                            <div class="input-group mt-3">
                                <input name="quantity" type="number" min="1" max="999" class="form-control " value="1" required>
                            </div>
                            <h6 class="font-weight-bold mt-4">Date and Time:</h6>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}