{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}

{% block content %}
<!--Breadcrumbs-->    
<div class="container-fluid breadcrumbs-container pl-3">
    <div class="row">
        <div class="col-12 pt-3">
            <a href="{% url 'landing' %}" class="breadcrumbs-text pl-3">Home</a> >
            <a href="{% url 'services' %}" class="breadcrumbs-text">Services</a> >
            <a href="{% url 'service_details' service.id %}" class="breadcrumbs-text">{{ service.name }}</a>
        </div>
    </div>
</div>
<hr>
<!--Main content-->
<div class="container mt-4">
    <div class="row ">
        <div class="col-12">
            <h1 class="uppercase main-heading display-6  text-center">{{ service.name }}</h1>
            <hr class="divider-green w-25 my-4">
            <div class="col-12 col-md-10 offset-md-1">
                <a href="{{ service.image_gallery.image_url }}" target="_blank" rel="noopener">
                    <img class="img-fluid" src="{{ service.image_gallery.image }}" alt="{{ service.name }}">
                </a>
                
                <div class="row mt-4">
                    <div class="col-12 col-md-6 ">
                        <p class="landing-paragraph">{{ service.description }}</p>
                        <div>
                        <hr>
                            <h3 class="main-heading text-salmon my-4">Itinerary:</h3>
                                {% for item in  itinerary_items %} 
                                <p >{{ item.time }}
                                <span class="font-weight-bold ml-4">{{  item.text }}</span>
                                </p> 
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}